node_modules
client/node_modules
server/node_modules
client/dist
server/venv
server/uploads
server/data/*.db
server/data/*.db-journal
server/data/*.sqlite
server/data/*
!server/data/.gitkeep
.git
.gitignore
*.log
.DS_Store
